---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Target feature_row images only on the people page */
.people-page .feature__item img {
    width: 400px ;
    height: 400px ;
    max-width: 400px ;
    display: flex;
    object-fit: cover; /* Ensures the image fills the 300x300 square without stretching or distorting */
    border-radius: 12px; /* Optional: matches your existing team profile image styling */
}